@use 'src/scss/variables' as *;

.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);

  .sidenav-container {
    flex: 1;
    background: transparent !important; // Removes the grey frame

    .sidenav {
      padding: 0;
      width: 260px;
      background: var(--bg-color);
      border: none;
    }

    .main-container {
      padding: 16px;
      background: transparent !important;
    }
  }
}
